<% if tags.any? %>
  <div class="flex flex-wrap gap-2">
    <% tags.each do |tag| %>
      <span class="inline-flex items-center rounded-full bg-indigo-50 px-2 py-0.5 text-[10px] font-semibold text-indigo-700">
        <%= tag.name %>
      </span>
    <% end %>
  </div>
<% end %>
